<li class="nav-item">
    <a class="nav-link" href="{{ path('consulter_etudiants') }}">Etudiants</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('liste_fiche_en_attente') }}">Fiches en attente</a>
</li>
