{% extends 'layouts/base.html.twig' %}

{% block body %}

<h1>Bienvenue</h1>

    <p>Si vous êtes un étudiant commencez par vous identifié ou vous inscrire sur le site pour avoir accès aux catégories</p>



{%endblock  %}