{% extends 'layouts/base.html.twig' %}

{% block title %}
    {{ fiche.nom ~ " " ~ fiche.prenom }}
{% endblock %}

{% block body %}

    {{ form_start(formView)}}


    {{ form_widget(formView) }}

    <button type="submit" class="btn btn-primary">
        Valider
    </button>

    {{ form_end(formView) }}

{% endblock %}


